version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: retreat
      POSTGRES_PASSWORD: retreat123
      POSTGRES_DB: retreat_db
    ports:
      - '5544:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=postgresql://retreat:retreat123@postgres:5432/retreat_db?schema=public
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    command: npm run start:dev

volumes:
  postgres_data:

